<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/bankMort.htm" timeout="2880"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpModules>
      <add name="AuthModules" type="AuthenticateHttpMode"/>
    </httpModules>
	</system.web>
	<appSettings>
		<add key="CurCity" value="杭州"/>
		<add key="ConnectionErpSqlServer" value="Server=192.168.1.5;User id=sa;Pwd=123456;Database=newhouseagent20161028;"/>
		<add key="JHConnectionErpSqlServer" value="Server=192.168.1.5;User id=sa;Pwd=123456;Database=newhouseagent20161028;"/>
	</appSettings>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="asyncinvoke">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
